@page "{username}"
@model LoginSystemApp.Pages.WelcomeModel
<!DOCTYPE html>
<html>
<head>
    <title>Welcome Page</title>
</head>
<body>
    <h2>Welcome, @Model.Username!</h2>
    <p>This is your user account page.</p>
</body>
</html>